<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/slick.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="/stylesheets/slick-theme.css"
    />
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <script src="/javascripts/jquery-3.4.1.slim.min.js"></script>
    <script type="text/javascript" src="/javascripts/slick.js"></script>
    <script type="text/javascript" src="/javascripts/scripts.js"></script>
    <title><%= title %></title>
  </head>
  <body>
    <!-- <section id="features" class="blue">
      <div class="content">
        <div class="slider single-item">
          <% slides.forEach(function(slide) { %>
          <div>
            <a href="<%= slide.cta %>">
              <picture>
                <source
                  media="(max-width: 799px)"
                  srcset="<%= slide.mobile.url %>"
                />
                <source
                  media="(min-width: 800px)"
                  srcset="<%= slide.desktop.url %>"
                />
                <img src="<%= slide.desktop.url %>" alt="<%= slide.alt %>" />
              </picture>
            </a>
          </div>
          <% }) %>
        </div>

        <div class="floating-banners-righ clearfixt">
          <a href="/promotions">
            <img
              alt=""
              src="//devambui.betonline.ag/Amber/img/home/bol-promo1-mob.png"
            />
          </a>
          <a href="/promotions#sports">
            <img
              alt=""
              src="//devambui.betonline.ag/Amber/img/home/bol-promo2-mob.png"
            />
          </a>
          <a href="/promotions#sports">
            <img
              alt=""
              src="//devambui.betonline.ag/Amber/img/home/bol-promo3-mob.png"
            />
          </a>
        </div>
      </div>
    </section> -->

    <!-- pagepart starts -->

    <section>
      <div class="layout__static-content-wrapper home-banner">
        <div class="layout__slider">
          <div class="promo-slider js-promo-slider">
            <!--slider01-->
            <div class="slide w100">
              <a href="/join"
                ><img
                  alt="First slide"
                  class="d-block w-100 desktop large"
                  src="//devambui.betonline.ag/Amber/img/home/bol-hp-rotator_1OUT.png"
                />
                <img
                  alt="First slide"
                  class="d-block w-100 mobile tablet"
                  src="//devambui.betonline.ag/Amber/img/home/bol-hp-rotator_1OUT_mobile.png"
                />
              </a>
            </div>
            <!--slider01 ends--><!--slider02-->

            <div class="slide w100">
              <a href="/join"
                ><img
                  alt="Second slide"
                  class="d-block w-100 desktop large"
                  src="//devambui.betonline.ag/Amber/img/home/bol-hp-rotator_2OUT.png"
                />
                <img
                  alt="Second slide"
                  class="d-block w-100 mobile tablet"
                  src="//devambui.betonline.ag/Amber/img/home/bol-hp-rotator_2OUT_mobile.png"
                />
              </a>
            </div>
            <!--slider02 ends--><!--slider03-->

            <div class="slide w100">
              <a href="/join"
                ><img
                  alt="Third slide"
                  class="d-block w-100 desktop large"
                  src="//devambui.betonline.ag/Amber/img/home/bol-hp-rotator03-out.png"
                />
                <img
                  alt="Third slide"
                  class="d-block w-100 mobile tablet"
                  src="//devambui.betonline.ag/Amber/img/home/bol-hp-rotator_03mob_out.png"
                />
              </a>
            </div>
            <!--slider03-->
          </div>
        </div>
        <!--boxes-->

        <div class="floating-banners-container">
          <!-- div class='floating-banners-left'> </div -->

          <div class="floating-banners-righ clearfixt">
            <a href="/promotions"
              ><img
                alt=""
                src="//devambui.betonline.ag/Amber/img/home/bol-promo1-mob.png"
            /></a>
            <a href="/promotions#sports"
              ><img
                alt=""
                src="//devambui.betonline.ag/Amber/img/home/bol-promo2-mob.png"
            /></a>
            <a href="/promotions#sports"
              ><img
                alt=""
                src="//devambui.betonline.ag/Amber/img/home/bol-promo3-mob.png"
            /></a>
          </div>
        </div>
        <!--boxes-->
      </div>
      <!-- pagepart ends -->
    </section>
  </body>
</html>
